<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" data-theme="dark"  data-sidebar-behaviour="fixed" data-navigation-color="inverted" data-is-fluid="true">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="Webinning" name="author" />

  <!-- Theme CSS -->
  <link rel="stylesheet" th:href="@{/css/theme.bundle.css}" id="stylesheetLTR" />
  <link rel="stylesheet" th:href="@{/css/all.css}" id="stylesheetLTR" />

  <script>
    // Theme switcher

       let themeSwitcher = document.getElementById('themeSwitcher');

       const getPreferredTheme = () => {
           if (localStorage.getItem('theme') != null) {
               return localStorage.getItem('theme');
           }

           return document.documentElement.dataset.theme;
       };

       const setTheme = function (theme) {
           if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
               document.documentElement.dataset.theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
           } else {
               document.documentElement.dataset.theme = theme;
           }

           localStorage.setItem('theme', theme);
       };

       const showActiveTheme = theme => {
           const activeBtn = document.querySelector(`[data-theme-value="${theme}"]`);

           document.querySelectorAll('[data-theme-value]').forEach(element => {
               element.classList.remove('active');
           });

           activeBtn && activeBtn.classList.add('active');

        // Set button if demo mode is enabled
           document.querySelectorAll('[data-theme-control="theme"]').forEach(element => {
               if (element.value == theme) {
                   element.checked = true;
               }
           });
       };

       function reloadPage() {
           window.location = window.location.pathname;
       }


       setTheme(getPreferredTheme());

       if(typeof themeSwitcher != 'undefined') {
           window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
               if(localStorage.getItem('theme') != null) {
                   if (localStorage.getItem('theme') == 'auto') {
                       reloadPage();
                   }
               }
           });

           window.addEventListener('load', () => {
               showActiveTheme(getPreferredTheme());

               document.querySelectorAll('[data-theme-value]').forEach(element => {
                   element.addEventListener('click', () => {
                       const theme = element.getAttribute('data-theme-value');

                       localStorage.setItem('theme', theme);
                       reloadPage();
                   })
               })
           });
       }
  </script>
  <!-- Favicon -->
<!--  <link rel="icon" href="./assets/favicon/favicon.ico" sizes="any" />-->

  <!-- Demo script -->
  <script>
    var themeConfig = {
        theme: JSON.parse('"light"'),
        isRTL: JSON.parse('false'),
        isFluid: JSON.parse('true'),
        sidebarBehaviour: JSON.parse('"fixed"'),
        navigationColor: JSON.parse('"inverted"')
    };

    var isRTL = localStorage.getItem('isRTL') === 'true',
        isFluid = localStorage.getItem('isFluid') === 'true',
        theme = localStorage.getItem('theme'),
        sidebarSizing = localStorage.getItem('sidebarSizing'),
        linkLTR = document.getElementById('stylesheetLTR'),
        linkRTL = document.getElementById('stylesheetRTL'),
        html = document.documentElement;

    if (isRTL) {
        linkLTR.setAttribute('disabled', '');
        html.setAttribute('dir', 'rtl');
    } else {
        linkLTR.removeAttribute('disabled');
        html.removeAttribute('dir');
    }
  </script>

  <!-- Page Title -->
  <title>Detail | Delicious Food Recipes</title>
</head>

<body>

<!-- THEME CONFIGURATION -->
<script>
  let themeAttrs = document.documentElement.dataset;

  for(let attr in themeAttrs) {
      if(localStorage.getItem(attr) != null) {
          document.documentElement.dataset[attr] = localStorage.getItem(attr);

          if (theme === 'auto') {
              document.documentElement.dataset.theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
                  e.matches ? document.documentElement.dataset.theme = 'dark' : document.documentElement.dataset.theme = 'light';
              });
          }
      }
  }
</script>
<!-- NAVIGATION -->
<nav id="mainNavbar" class="navbar navbar-vertical navbar-expand-lg scrollbar bg-dark navbar-dark">

  <!-- Theme configuration (navbar) -->
  <script>
    let navigationColor = localStorage.getItem('navigationColor'),
        navbar = document.getElementById('mainNavbar');

    if(navigationColor != null && navbar != null) {
        if(navigationColor == 'inverted') {
            navbar.classList.add('bg-dark', 'navbar-dark');
            navbar.classList.remove('bg-white', 'navbar-light');
        } else {
            navbar.classList.add('bg-white', 'navbar-light');
            navbar.classList.remove('bg-dark', 'navbar-dark');
        }
    }
  </script>
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/}">
      -
    </a>

    <!-- Navbar toggler -->
    <a href="javascript: void(0);" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenavCollapse">

      <!-- Navigation -->
      <nav th:replace="common/navigation :: navigation_fragment()"></nav>
      <!-- End of Navigation -->

    </div>
  <!-- End of Collapse -->
  </div>
</nav>
<!-- MAIN CONTENT -->
<main>
  <!-- HEADER -->
  <header th:replace="common/header :: header_fragment()"></header>

  <div class="container-fluid">
    <!-- Title -->
    <h1 class="h2">
      Detail Recipe.
    </h1>

    <div class="row">
      <div class="col">

        <!-- Card -->
        <div class="card border-0 p-md-6">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <p>Detail Recipe:</p>
                  <div class="row" th:object="${recipe}">
                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          *name
                        </label>

                        <p type="text" th:text="*{name}" class="form-control"></p>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          meal timing
                        </label>

                        <!-- Input -->
<!--                        <div class="form-check mb-3">
                          <input type="checkbox" id="breakfast" class="form-check-input"  disabled>
                          <label class="form-check-label" for="breakfast">breakfast</label>
                        </div>
                        <div class="form-check mb-3">
                          <input type="checkbox" id="lunch" class="form-check-input" disabled>
                          <label class="form-check-label" for="lunch">lunch</label>
                        </div>
                        <div class="form-check mb-3">
                          <input type="checkbox" id="dinner" class="form-check-input" disabled>
                          <label class="form-check-label" for="dinner">dinner</label>
                        </div>-->
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          *material
                        </label>

                        <!-- Input -->
                        <p th:text="*{material}" class="form-control"></p>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          *spices
                        </label>

                        <!-- Input -->
                        <p th:text="*{spices}" class="form-control"></p>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          *cook
                        </label>

                        <textarea class="form-control" th:text="*{cook}" placeholder="" rows="4" readonly></textarea>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          *season
                        </label>

                        <p th:text="*{seasonId}" class="form-control"></p>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          *genre
                        </label>

                        <p th:text="*{genreId}" class="form-control"></p>

                      </div>
                    </div>

                    <div class="col-12">
                      <div class="mb-4">

                        <!-- Label -->
                        <label class="form-label">
                          memo
                        </label>

                        <textarea class="form-control" th:text="*{memo}" placeholder="" rows="4" readonly></textarea>
                      </div>
                    </div>
                  </div>

                <div class="col-12">
                  <div class="row align-items-center text-center">
                    <div class="col-12">
                      <!-- Button -->
                      <a type="button" th:href="@{'/recipe/update/' + ${id}}" class="btn w-100 btn-primary mt-6 mb-2">go to update</a>
                    </div>
                  </div> <!-- / .row -->
                </div>

              </div>
            </div> <!-- / .row -->
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div>

  <!-- Footer -->
  <footer class="mt-auto">
    <div class="container-fluid mt-4 mb-6 text-muted">
      <div class="row justify-content-between">
        <div class="col">
          © Delicious Food Recipes. 2023.
        </div>

        <div class="col-auto">
          製作者 : <a href="https://twitter.com/hey9woz">Hey</a>
        </div>
      </div> <!-- / .row -->
    </div>
  </footer>

</main> <!-- / main -->

<!-- Theme JS -->
<script th:src="@{/js/theme.bundle.js}"></script>
<script th:src="@{/js/tom-select.bundle.js}"></script>
</body>
</html>