<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" data-theme="dark"  data-sidebar-behaviour="fixed" data-navigation-color="inverted" data-is-fluid="true">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="Webinning" name="author" />

  <!-- Theme CSS -->
  <link rel="stylesheet" th:href="@{/css/theme.bundle.css}" id="stylesheetLTR" />
  <link rel="stylesheet" th:href="@{/css/all.css}" id="stylesheetLTR" />

  <script>
    // Theme switcher

       let themeSwitcher = document.getElementById('themeSwitcher');

       const getPreferredTheme = () => {
           if (localStorage.getItem('theme') != null) {
               return localStorage.getItem('theme');
           }

           return document.documentElement.dataset.theme;
       };

       const setTheme = function (theme) {
           if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
               document.documentElement.dataset.theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
           } else {
               document.documentElement.dataset.theme = theme;
           }

           localStorage.setItem('theme', theme);
       };

       const showActiveTheme = theme => {
           const activeBtn = document.querySelector(`[data-theme-value="${theme}"]`);

           document.querySelectorAll('[data-theme-value]').forEach(element => {
               element.classList.remove('active');
           });

           activeBtn && activeBtn.classList.add('active');

        // Set button if demo mode is enabled
           document.querySelectorAll('[data-theme-control="theme"]').forEach(element => {
               if (element.value == theme) {
                   element.checked = true;
               }
           });
       };

       function reloadPage() {
           window.location = window.location.pathname;
       }


       setTheme(getPreferredTheme());

       if(typeof themeSwitcher != 'undefined') {
           window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
               if(localStorage.getItem('theme') != null) {
                   if (localStorage.getItem('theme') == 'auto') {
                       reloadPage();
                   }
               }
           });

           window.addEventListener('load', () => {
               showActiveTheme(getPreferredTheme());

               document.querySelectorAll('[data-theme-value]').forEach(element => {
                   element.addEventListener('click', () => {
                       const theme = element.getAttribute('data-theme-value');

                       localStorage.setItem('theme', theme);
                       reloadPage();
                   })
               })
           });
       }
  </script>
  <!-- Favicon -->
<!--  <link rel="icon" href="./assets/favicon/favicon.ico" sizes="any" />-->

  <!-- Demo script -->
  <script>
    var themeConfig = {
        theme: JSON.parse('"light"'),
        isRTL: JSON.parse('false'),
        isFluid: JSON.parse('true'),
        sidebarBehaviour: JSON.parse('"fixed"'),
        navigationColor: JSON.parse('"inverted"')
    };

    var isRTL = localStorage.getItem('isRTL') === 'true',
        isFluid = localStorage.getItem('isFluid') === 'true',
        theme = localStorage.getItem('theme'),
        sidebarSizing = localStorage.getItem('sidebarSizing'),
        linkLTR = document.getElementById('stylesheetLTR'),
        linkRTL = document.getElementById('stylesheetRTL'),
        html = document.documentElement;

    if (isRTL) {
        linkLTR.setAttribute('disabled', '');
        html.setAttribute('dir', 'rtl');
    } else {
        linkLTR.removeAttribute('disabled');
        html.removeAttribute('dir');
    }
  </script>

  <!-- Page Title -->
  <title>Recipe Set Register | Delicious Food Recipes</title>
</head>

<body>

<!-- THEME CONFIGURATION -->
<script>
  let themeAttrs = document.documentElement.dataset;

  for(let attr in themeAttrs) {
      if(localStorage.getItem(attr) != null) {
          document.documentElement.dataset[attr] = localStorage.getItem(attr);

          if (theme === 'auto') {
              document.documentElement.dataset.theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';

              window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
                  e.matches ? document.documentElement.dataset.theme = 'dark' : document.documentElement.dataset.theme = 'light';
              });
          }
      }
  }
</script>
<!-- NAVIGATION -->
<nav id="mainNavbar" class="navbar navbar-vertical navbar-expand-lg scrollbar bg-dark navbar-dark">

  <!-- Theme configuration (navbar) -->
  <script>
    let navigationColor = localStorage.getItem('navigationColor'),
        navbar = document.getElementById('mainNavbar');

    if(navigationColor != null && navbar != null) {
        if(navigationColor == 'inverted') {
            navbar.classList.add('bg-dark', 'navbar-dark');
            navbar.classList.remove('bg-white', 'navbar-light');
        } else {
            navbar.classList.add('bg-white', 'navbar-light');
            navbar.classList.remove('bg-dark', 'navbar-dark');
        }
    }

  </script>
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/}">
      -
    </a>

    <!-- Navbar toggler -->
    <a href="javascript: void(0);" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenavCollapse">

      <!-- Navigation -->
      <nav th:replace="common/navigation :: navigation_fragment()"></nav>
      <!-- End of Navigation -->

    </div>
  <!-- End of Collapse -->
  </div>
</nav>
<!-- MAIN CONTENT -->
<main>
  <!-- HEADER -->
  <header th:replace="common/header :: header_fragment()"></header>

  <form th:method="post" id="recipeSetForm" th:action="@{/recipe_set/post}" th:object="${recipeSetForm}">
  <div class="container-fluid">
    <input type="hidden" th:field="*{recipeSet}" id="recipeIds">
    <h1 class="h2">
      <span>
        Register Recipe Set.
        <button type="button" class="btn btn-sm btn-primary ms-4" data-bs-toggle="modal" data-bs-target="#recipeModal" id="btnSelectRecipe">Select Recipe</button>
      </span>

      <span>
        <button type="button"
                class="btn btn-sm btn-primary ms-4"
                id="registerRecipeSetId"
                onclick="registerRecipeSet()">Register</button>
      </span>
    </h1>
    <div class="mb-3" style="margin-top: 4rem;">
      <label class="form-label" for="exampleFormControlPlaceholderInput2">Set Name</label>
      <input type="text" id="exampleFormControlPlaceholderInput2" th:field="*{name}" class="form-control">
    </div>

    <div class="board" id="sortable" th:data-sortable='*{sortable}' style="white-space: unset;">
        <style>
          .divList{
              height: 30rem;
          }

          .divTasks{
              margin-bottom: 3rem;
          }
        </style>
      <th:block th:each="board : *{boards}">
            <div class="tasks divTasks">
              <div class="bg-gray-300 px-1 py-2 rounded">
                <h2 class="h4 text-uppercase p-3 px-4 mb-1" th:text="${board.name}"></h2>
                <div th:id="${board.name}" class="divList"></div>
              </div>
            </div>
      </th:block>

      <div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="recipeModalLabel">Selected Recipe Add</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="recipeSelect" class="form-select" autocomplete="off" data-select='{"placeholder": "select recipes..."}'>
                  <th:block th:each="recipe : *{selectedRecipe}">
                    <option th:value="${recipe.id}">
                      <code><span th:text="${recipe.name}"></span></code>
                    </option>
                  </th:block>
                </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="selectedRecipeAdd()">Add</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  </form>
  <script>
    function selectedRecipeAdd(){
        var selectedList = document.getElementById("recipeSelect");
        for (const option of selectedList.selectedOptions) {
            recipeCardAdd(option.value, option.label);
        }
    }

    function recipeCardAdd(id, name){
        var cardDiv = document.createElement("div");
        grantCss(cardDiv, "card border-0 mb-2 cursor-move");

        var cardBody = document.createElement("div");
        grantCss(cardBody, "card-body");

        var cardBodyAnchor = document.createElement("a");
        var hrefValue = "/recipe/detail/" + id;
        cardBodyAnchor.setAttribute("href", hrefValue);
        cardBodyAnchor.textContent = name;
        grantCss(cardBodyAnchor, "h4 text-body card-title d-inline-block");

        var cardBodyInput = document.createElement("input");
        var inputValue = id;
        cardBodyInput.setAttribute("value", inputValue);
        cardBodyInput.setAttribute("type", "hidden");
        grantCss(cardBodyInput, "ids");

        cardDiv.appendChild(cardBody);
        cardBody.appendChild(cardBodyAnchor);
        cardBodyAnchor.appendChild(cardBodyInput);

        const currentDiv = document.getElementById("SELECTED");
        currentDiv.appendChild(cardDiv);
    }

    function grantCss(element, cssText){
        element.className = cssText;
    }

    function registerRecipeSet(){
        var form = document.getElementById("recipeSetForm");
        var sortableElm = document.getElementById("sortable").getAttribute("data-sortable");
        var listIds = sortableElm.replace(/\[/g, "").replace(/\]/g, "").replaceAll(/"/g, "").split(',');
        var recipeSets = '';
        var len = listIds.length;
        for (let i = 0; i < len; i++) {
            if(i == 0){
                recipeSets = getRecipeSet(listIds[i]);
                continue;
            }
            var recipe = getRecipeSet(listIds[i]);
            if(recipe != ''){
                recipeSets = recipeSets + "," + getRecipeSet(listIds[i]);
            }
        }
        document.getElementById("recipeIds").setAttribute("value", recipeSets);
        form.submit();
    }

    function getRecipeSet(listId){
        var ids = document.getElementById(listId).getElementsByClassName("ids");
        var len = ids.length;
        var recipeSet = '';
        for (let i = 0; i < len; i++) {
            if(i == 0){
                recipeSet = getRecipeSetFormat(listId, ids[i].value);
                continue;
            }
            recipeSet = recipeSet + "," + getRecipeSetFormat(listId, ids[i].value);
        }
        return recipeSet;
    }

    function getRecipeSetFormat(listId, value){
        return listId + ":" + value;
    }

  </script>

  <!-- Footer -->
  <footer class="mt-auto">
    <div class="container-fluid mt-4 mb-6 text-muted">
      <div class="row justify-content-between">
        <div class="col">
          © Delicious Food Recipes. 2023.
        </div>

        <div class="col-auto">
          製作者 : <a href="https://twitter.com/hey9woz">Hey</a>
        </div>
      </div> <!-- / .row -->
    </div>
  </footer>

</main> <!-- / main -->

<!-- Theme JS -->
<script th:src="@{/js/theme.bundle.js}"></script>
<script th:src="@{/js/tom-select.bundle.js}"></script>

<!-- Theme JS -->

</body>
</html>